@import "tailwindcss";

@theme {
  --color-primary: #ffbe0b;
  --color-accent: #3a86ff;
  --color-background: #0d0d0f;
  --color-secondary-bg: #1a1a1d;
  --color-text: #e5e5e5;

  --font-family-sans: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-secondary-bg) inset !important; /* your dark bg */
  -webkit-text-fill-color: var(--color-text) !important; /* text color 
  */
  caret-color: #ffffff !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-secondary-bg) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px var(--color-secondary-bg) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
}
